/* css stylesheet chat */
html.body{
	margin:0px;

	padding:0px;
}
#messages{
	width:500px;
	height:300px;
	padding :10px;
	margin : 10px;
	border : 1px solid #ccc;
	overflow : auto;
	
}

#input
{
	width:500px;
	padding :15px;
	margin : 15px;
	

}






